@model int

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
</head>
<body style = "margin:20% 40%; font-size:40px" >
    <div> 
        Результат
    </div>
    <div>
        Model
    </div>
</body>
</html>
