@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>

<address>
    Город Саратов<br />
    Вольска 10А<br />
    <abbr title="Phone">P:</abbr>
    22-51-06
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">kniit@info.sgu.ru</a><br />
</address>