@model int


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
</head>
<body >
    <div style="margin:20% 40%; font-size:40px">
        Model
    </div>
</body>
</html>